.card {
  display: flex;
  flex-direction: column;
  width: 100%; 
  min-width: 280px;

  @media (min-width: @desktop) {
    position: relative;
  }
}

.card a {
  display: block;
  width: 100%;
  align-self: center;
  margin-bottom: 30px;

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }
}

.card__photo-container {
  width: 100%;
  height: auto; 
  min-height: 280px;
}

.card__photo-container img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.card h3 {
  color: #000;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; 
  text-transform: uppercase;

  margin-bottom: 10px;

  @media (min-width: @desktop) {
    color: #ffffff
  }
 }


.card p {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

  margin-top: 0;

  @media (min-width: @desktop) {
    color: #ffffff
  }
}

.card__likes-count {
  color: #000;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; 
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-left: 9px;
  }

  @media (min-width: @desktop) {
    color: #ffffff
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet) {
    background-color: #F2F2F2;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 27px 20px 0 20px;
  }

  @media (min-width: @desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3)
  }
}

.card__description-texts {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    margin-bottom: 20px;
  }
}

.card__description-likes {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    justify-content: end;
    margin-bottom: 0;
  }
}

.card__description-likes svg {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }

  @media (min-width: @desktop) {
    fill: #ffffff;
    opacity: 1;
  }
}
