.features__highlighted {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 322px;
    height: 40px;
    z-index: 5;
    top: -15px;
    left: calc(50% - 161px);
    background-image: url("../../images/white.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  
    @media (min-width: @tablet) {
      display: none;
    }
  }
}

.features__highlighted-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.features__other-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;

  @media (min-width: @tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
} 

.features__other-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    width: 30%;
    padding-top: 52px;
    padding-left: 28px;
    padding-right: 35px;
    margin-right: 30px;
  }

  @media (min-width: @desktop) {
    margin-right: 50px;
  }
}

.features__other-list li:last-child {
  margin-right: 0;
}

.features__other-list h2 {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  
  margin-bottom: 10px;

  @media (min-width: @tablet) {
    font-size: 21px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop) {
    width: 60%;
  }
}

.features__other-list span {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;

  display: block;

  @media (min-width: @tablet) {
    margin-bottom: 20px;
  }
}

.features__other-list p {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet) {
    margin-bottom: 5px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 28px;
  }
}




