.features__highlighted-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.features__other-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;

  @media (min-width: @tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
} 

.features__other-list li {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet) {
    width: 30%;
    padding-top: 52px;
    padding-left: 33px;
    padding-right: 33px;
  }
}

.features__other-list h2 {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 21px;
    margin-bottom: 10px;
  }
}

.features__other-list span {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;

  display: block;

  @media (min-width: @tablet) {
    margin-bottom: 20px;
  }
}

.features__other-list p {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-bottom: 52px;
    text-align: center;
  }
}




