.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;

  @media (min-width: @tablet) {
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 70px;
  }

  @media (min-width: @desktop) {
    padding-top: 26px;
    padding-left: 114px;
    padding-right: 120px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
  width: 140px;
  height: 24px;
}

.footer__logo a:focus {
  opacity: 0.7;
}

.footer__logo a:hover {
  opacity: 0.5;
}

.footer__social {
  width: 162px;
  display: flex;
  justify-content: start;
  padding: 0;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.footer__social li {
  margin-bottom: 6px;
  margin-right: 6px;
}

.footer__social a {
  width: 48px;
  height: 48px;
  background-color: @main-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover, 
  &:focus {
    background-color: #669EC0;
    outline: none;
  }

  &:active {
    background-color: #5496BD;
  }

  &:disabled {
    background-color: #E5E5E5;
    opacity: 0.3;
  }
}

.footer__academy {
  margin-bottom: 30px;
  
}

.footer__academy a {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer__academy span {
  margin-right: 10px;

  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.footer__academy a:hover span,
.footer__academy a:focus span {
  color: #81B3D2;
}

.footer__academy a:active span {
  color: #B3B3B3;
}

.footer__academy a:hover svg,
.footer__academy a:focus svg {
  fill: #81B3D2;
}

.footer__academy a:active svg {
  fill: #B3B3B3;
}
