.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: @desktop) {
    width: 960px;
  }
}

.form-wrapper fieldset {
  border: none;
}

.form-wrapper input {
  color: #000;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  background-color: #F2F2F2;

  &:hover {
    background-color: #E5E5E5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: solid 4px #E5E5E5;
  }
}

.form-wrapper input::placeholder {
  color: rgba(0, 0, 0, 0.30);
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
}

.form-wrapper h2 {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  margin-bottom: 20px;

  @media (min-width: @tablet) {
    font-size: 21px;
  }
}

.name-column input {
  width: 430px;
}

.contacts-column input {
  width: 402px;
}
