
.header {
  position: relative;
  width: 100%;
  max-width: 1600px;
}

.header__nav {
  margin: 0;
  padding: 0;
  padding-top: 55px;

  @media (min-width: @tablet) {
    padding-top: 17px;
  }
}

.header__logo {
  position: absolute;
  left: calc(50% - 90px);
  z-index: 5;
}

.header__open-button {
  display: block;
  position: absolute;
  top: 17px;
  right: 17px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/SVG/icon-menu.svg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  z-index: 15;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    display: none;
  }
}

.header__close-button {
  display: block;
  position: absolute; 
  z-index: 15;
  width: 22px;
  height: 22px;
  top: 17px;
  right: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/icon-cross.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
