.hero-catalogpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.hero-catalogpage__photo {
  width: 100%;
  min-height: 214px;
  height: auto;
  position: relative;
  margin-bottom: 35px;
}

.hero-catalogpage__photo img {
  object-fit: cover;
  height: 100%;
  min-height: 214px;
}

.hero-catalogpage__photo::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("../../images/SEDONA.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

.hero-catalogpage h1 {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 30px;
  }
}

.hero-catalogpage p {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.hero-catalogpage__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
