.hurry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.hurry__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hurry h2 {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
  text-transform: uppercase;
}

.hurry p {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 38px;
}

.hurry__image {
  width: 100%;
  height: auto; 
  min-height: 177px;
}

.hurry__image img {
  width: 100%;
  height: auto; 
}


