.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;

  @media (min-width: @tablet) {
    padding-top: 60px;
  }

  @media (min-width: @desktop) {
    padding-top: 60px;
  }
}

.promotion h2 {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  margin-bottom: 7px;

  @media (min-width: @tablet) {
    font-size: 30px;
    margin-bottom: 18px;
  }
}

.promotion p {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 33px;

  @media (min-width: @tablet) {
    width: 59%;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    width: 50%;
  }
}

.promotion__button {
  margin-bottom: 50px;
  width: 100%;

  @media (min-width: @tablet) {
    width: 458px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 71px;
  }
}
