.text-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: @tablet) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-top: 53px;
    padding-left: 8px;
  }
}

.text-forms fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 22px;

  @media (min-width: @tablet) {
    width: 48%;
  }
}

.text-forms fieldset:first-child {
  @media (min-width: @tablet) {
    padding-right: 40px;
    position: relative; 

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 90%;
      background-color: #DBDBDB;
      right: 0;
    }

    @media (min-width: @tablet) {
      padding-right: 42px;
    }
  }
}

.text-forms fieldset:last-child {
  @media (min-width: @tablet) {
    padding-left: 40px;
  }
}

.text-forms label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
}

.text-forms label:last-child {
  margin-bottom: 44px;
}

.text-forms input {
  width: 100%;
  border: none;
  padding: 16px;
}

.text-forms span {
  color: #333;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: 18px;
}

.name-column input {
  @media (min-width: @desktop) {
    width: 430px;
  }
}

.contacts-column input {
  @media (min-width: @desktop) {
   width: 402px;
  }
}
